@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
  font-family: "Roboto Condensed", serif;
  font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}
.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

::selection {
  background: gray;
}

a.active hr{
   
    display: block;
    transition: ease-in-out 0.5s;
    color: rgb(249 115 22 / var(--tw-bg-opacity));

}
a.active p {
            color: orange;
}

.hr:hover{
            width: 100%;
            transition: ease-in-out 0.5s;
}

a.active:hover{

           hr{
            width: 100%;
            transition: ease-in-out 0.5s;
           } 
}

.background {
  background: url('./header_img.png') no-repeat center center;
  background-size: cover;
  /* This makes the image cover the div while resizing with the viewport */
  border-radius: 10px;
  height: 35vw;
  width: 100%;
  margin: 30px auto;
  position: relative;
}
@media (max-width: 1700px) {
  .background {
    height: 45vw;
    background-size: cover;
    background-position: top center;
  }
}

@media (max-width: 1100px) {
  .background {
    height: 85vw;
    background-size: cover;
    background-position: top center;
  }
}


@media (max-width: 480px) {
  .background {
    height: 180vw;
    margin: 20px auto;
    background-size: cover;
  }
}

